:root {
  --card-grid-col: 1fr 1fr;
  --card-dir: row;
  --card-width: 31%;
}

@media screen and (max-width: 700px) {
  :root {
    --card-grid-col: 1fr;
    --card-dir: column;
    --card-width: 100%;
  }
}

body {
  background-image: url('https://j-gens-portfolio.s3-us-west-1.amazonaws.com/bg-001.jpg');
  background-position: top;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: local;
}

footer {
  text-align: center;
  padding: 20px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: 600;
}

.app > div {
  width: 80vw;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 48px;
  color: rgb(43, 1, 65);
  font-weight: 600;
  margin-bottom: 20px;
}

.section-subtitle__large {
  font-size: 30px;
}

.section-subtitle__small {
  font-size: 24px;
}

.subsection {
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px rgb(189, 189, 189);
  height: fit-content;
  margin: 10px 0px;
  border-radius: 5px;
}

.subsection:hover {
  box-shadow: 6px 6px 6px rgb(164, 144, 167);
}

.welcome {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 3px 3px 5px rgb(70, 70, 70);
}

.welcome--title {
  font-size: 80px;
  font-weight: 600;
  padding-top: 20vh;
}

.welcome--subtitle {
  font-size: 40px;
}

.welcome--scroll {
  padding-top: 25vh;
  padding-bottom: 5vh;
}

.welcome--scroll a {
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 5px rgb(70, 70, 70);
  text-decoration: none;
}

.about-me--content {
  margin: 10px 0;
}

.portfolio--content {
  display: grid;
  grid-template-columns: var(--card-grid-col);
  grid-gap: 20px;
}

.portfolio-app {
  box-shadow: 5px 5px 5px rgb(189, 189, 189);
  background-position: center;
  background-size: cover;
}

.portfolio-app--content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: whitesmoke;
  opacity: 0;
  height: 100%;
}

.portfolio-app--content .section-subtitle__large {
  font-weight: 600;
  color: rgb(43, 1, 65);
}

.portfolio-app:hover .portfolio-app--content {
  transition: ease-in-out .4s;
  opacity: .8;
}

.portfolio-app--tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px;
}

.portfolio-app--tech-item {
  border: solid 2px black;
  border-radius: 5px;
  margin: 3px 3px;
  padding: 3px;
  font-weight: 600;
}

.portfolio-app--links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 0px;
}

.skills--content {
  display: flex;
  flex-direction: var(--card-dir);
  justify-content: space-between
}

.skill-set {
  display: flex;
  flex-direction: column;
  width: var(--card-width);
}
.skill-set--content--item {
  margin-top: 5px;
}

.contact--content {
  display: flex;
  flex-direction: column;
}

.contact--content--title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact--content--links {
  display: flex;
  flex-direction: var(--card-dir);
  width: var(--card-width);
  align-content: center;
}

.contact--content--link {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

.contact--content--link img {
  max-height: 50px;
  max-width: 50px;
  margin: 0 7px;
}

.footnote {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}
