.contact .section-title {
  margin-bottom: 10px;
}

.contact .section-subtitle__small {
  margin-bottom: 20px;
}

.contact--links {
  display: flex;
  flex-direction: column;
}

.contact--link a:link, a:visited {
  font-size: 28px;
  text-decoration: none;
  color: black;
}

.contact--link a:hover, a:active {
  font-weight: 600;
}
