@media screen and (min-width: 800px) {
  .portfolio-app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .portfolio-app--content {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .portfolio-app--image {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 799px) {
  .portfolio-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .portfolio-app--content {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    margin: 10px 0;
  }

  .portfolio-app--image {
    width: 90%;
    align-self: center;
    margin: 10px 0;
  }
}

.portfolio-app--about {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  color: rgb(25, 25, 25);
}

.portfolio-app--tech {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.portfolio-app--tech--stack {
  font-size: 13px;
  width: fit-content;
  padding: 5px 7px;
  margin: 3px 2px;
  color: white;
  background-color: rgb(97, 76, 100);
}

.portfolio-app--image img {
  width: 100%;
}
