* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.app > div {
  width: 80vw;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 48px;
  color: rgb(43, 1, 65);
  font-weight: 600;
  margin-bottom: 20px;
}

.section-subtitle__large {
  font-size: 30px;
}

.section-subtitle__small {
  font-size: 24px;
}

.subsection {
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px rgb(189, 189, 189);
  height: fit-content;
  margin: 10px 0px;
  border-radius: 5px;
}

.subsection:hover {
  box-shadow: 6px 6px 6px rgb(164, 144, 167);
}
